# Core
pandas==2.2.2
polars==1.7.1
numpy==1.26.4
python-dotenv==1.0.1
requests==2.32.3
pydantic==2.9.2


# Database
SQLAlchemy==2.0.36
psycopg2-binary==2.9.10


# Airflow (Pinned compatible version)
apache-airflow==2.10.2
apache-airflow-providers-postgres==5.10.1


# Data Quality
great-expectations==0.18.12


# Dashboard
treamlit==1.40.2


# Testing
pytest==8.3.3
pytest-mock==3.14.0


# Utility
loguru==0.7.2