services:
postgres:
image: postgres:15
container_name: stock_postgres
restart: always
environment:
POSTGRES_USER: admin
POSTGRES_PASSWORD: admin
POSTGRES_DB: stockdb
ports:
- "5432:5432"
volumes:
- pgdata:/var/lib/postgresql/data


airflow:
image: apache/airflow:2.9.1
container_name: airflow_orchestrator
restart: always
depends_on:
- postgres
environment:
AIRFLOW__CORE__EXECUTOR: LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://admin:admin@postgres:5432/stockdb
volumes:
- ./airflow/dags:/opt/airflow/dags
- ./airflow/logs:/opt/airflow/logs
- ./airflow/plugins:/opt/airflow/plugins
ports:
- "8080:8080"
command: bash -c "airflow db init && airflow webserver & airflow scheduler"


streamlit:
build: .
container_name: stock_dashboard
depends_on:
- postgres
ports:
- "8501:8501"
command: ["streamlit", "run", "dashboard/app.py"]


volumes:
pgdata: